@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');


.Navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height:8vh;
}

.logo {
    margin-right: 15px;
    padding: 0 13px;
    font-size: 22px;
    background-color: #eceff1;
    font-family: 'Tilt Prism', cursive;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo a{
    text-decoration: none;
    color: #000;
    font-size: 36px;
}

.slider {
    width: 340px;
    margin: 0 10px;
    display: inline-block;
}

.rc-slider-track {
    background: transparent !important;

}

.rc-slider-rail {
    height: 8px !important;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:hover,
.rc-slider-handle:focus {
    background-color: green;
    outline: none;
    border: 2px solid green;
    box-shadow: none;
    width:16px !important;
    height: 16px !important;
    margin-left: -7px !important; 
    margin-top: -4px !important;
}

.select-container {
    margin-left: auto;
    margin-right: 1rem;
}